body {
	background-color: #000;
}

#image1 {
	background-image: url('../images/train2.png');
	background-color: #000;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	background-position: center top;
}

h1 {
	width: 100%;
	text-align: center;
	font-family: 'Sumana', 'Elephant', 'Times', sans-serif;
	font-size: 36px;
	color: #fff;
	position: absolute;
	top: 15%;
	line-height: 1.2em;
}

/* I resisted the urge to smash my keyboard to pieces */
#arrow-div {
	background-image: url('../images/arrow.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 80px;
/*		background-color: red;
*/	height: 80px;
	position: relative;
	margin: 0 auto;
	top: 80%;
}
/*
#arrow-img {
	width: 100%;
}
*/
#entire-background {
	background-color: #171B1E;
	height: 100vh;
}


h2 {
	color: #fff;
	text-align: center;
	padding: 30px 0;
}

#current-time {
	color: #C1E7FF;
	font-family: 'Arial', sans-serif;
	font-size: 56px;
	clear: both;
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
}

#train-div {
	width: 80%;
	margin: 0 auto;
}

h3 {
	font-size: 26px;
	margin: 10px 0;
}

#id-train-name,
#id-train-destination,

#submit-button {
	margin: 10px 0;
	width: 60%;

}

#id-train-firstdep,
#id-train-freq {
	width: 30%;
}

/*h4 {
	display: inline;
	float:;
}
*/

#train-info {
	margin: 0 auto;
}

#train-table {
	padding: 0 60px;
	text-align: center;

}

td {
	color: #fff;
	padding: 10px 15px;


}


#train-input {
	width: 30%;
	float: left;
	box-sizing: border-box;
	background-color: #fff;
}

.form {
/*	padding-left: 30%;*/
}

#train-info {
	margin: 0 auto;
	background-color: red;
	float: left;
	box-sizing: border-box;
	width: 70%;
}

